<div class='o-grid__col o-grid__col--2-4 {{ theme.type }}'>
  <div class='c-theme-card'>

    {% if theme.price %}
      <span class='c-theme-card__price'><sub>$</sub>{{ theme.price }}</span>
    {% else %}
      <span class='c-theme-card__price'>Free</span>
    {% endif %}

    <a href='{{ theme.url }}' title='{{ theme.title }}'>
      <div class='js-fadein c-theme-card__image' style='background-image: url(/{{ theme.thumbnail }})'></div>
    </a>

    <h2 class='c-theme-card__title'>
      <a title='{{ theme.title }}' href='{{ theme.url }}'>{{ theme.name }}</a>
    </h2>

  </div>
</div>